<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.CoursePurposeMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.dao.entity.CoursePurpose" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_course_purpose
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.dao.entity.CoursePurpose" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select replace(uuid(), '-', '') as id
    </selectKey>
    insert into t_course_purpose (id,course_id, photo, `name`,
      title, content, create_time
      )
    values (#{id,jdbcType=VARCHAR},#{courseId,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.dao.entity.CoursePurpose" >
    update t_course_purpose
    set course_id = #{courseId,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, course_id, photo, `name`, title, content, create_time
    from t_course_purpose
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, course_id, photo, `name`, title, content, create_time
    from t_course_purpose
  </select>

  <select id="selectByCourseId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, course_id, photo, `name`, title, content, create_time
    from t_course_purpose
    where course_id = #{courId,jdbcType=VARCHAR} order by create_time desc limit 1
  </select>
</mapper>